
<!-- <ion-header>
  <ion-navbar color="navbar">
    <ion-title>Chat</ion-title>
    
  </ion-navbar>
</ion-header> -->
<!-- <ion-content padding>
<ion-list>
  <ion-item *ngFor = "let user of myUsers; let i = index;">  
     {{user.displayName}}
  </ion-item>  

</ion-list>  -->

<ion-content no-padding >
  <ion-searchbar placeholder="Enter Client Name.." (ionInput)="getItems($event)"></ion-searchbar>      
      <ion-list >
      
          <ion-item  (click)="detail(user)" *ngFor = "let user of myUsers">
            <ion-avatar item-left>
              <img [src]="user.photoURL">
            </ion-avatar>
            <h2><b>{{user.displayName}}</b></h2>
            <h3>Email: {{user.email}}</h3>
           
          </ion-item>
       
      </ion-list>


  
</ion-content>
